<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="/css/aboutus.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <h2>01</h2>
                <h3>card five</h3>
                <p>指导老师: 陈国保</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>02</h2>
                <h3>card one</h3>
                <p>策划:廖宋炜</p>
                <a href="#">Read more</a>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2>03</h2>
                <h3>card three</h3>
                <p>技术支持:杨瑞荣</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>04</h2>
                <h3>card four</h3>
                <p>帅气担当:刘斌</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>05</h2>
                <h3>card two</h3>
                <p>队长:陈杰</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>06</h2>
                <h3>企业文化</h3>
                <p>致力于打造全球最优秀的非遗大卖场,为推广非遗文化,让非遗文化的火种传承</p>
                <a href="index">返回首页-></a>
            </div>
        </div>
    </div>
    <script type=" text/javascript " src="/js/aboutus.js "></script>
    <script type="text/javascript ">
        VanillaTilt.init(document.querySelectorAll(".card "), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare ": 1,
        });
    </script>
</body>

</html>