<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的收藏</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
            font-size:14px;
            padding:0 5px;
            height:auto;
            overflow:visible;
            text-overflow:inherit;
            white-space:normal;
            word-break: break-all;
        }
    </style>

</head>
<body>

<!--购物车-->
<table id="cart" class="layui-table" lay-filter="cart" lay-skin="nob">
</table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="goIndex">返回首页</button>
        <button class="layui-btn" lay-event="goShopCart">返回我的购物车</button>
        <!--<button class="layui-btn" lay-event="delAll">移除收藏</button>-->
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger"  lay-event="del">删除</a>
</script>

<script src="/layui/layui.js"></script>
<script th:inline="none">
    layui.use('table', function(){
        var table = layui.table,
        $=layui.$;
        table.render({
            elem: '#cart'
            //,height: 500  //表格高度
            ,url:'/shopCart/listCollect'
            ,toolbar: '#toolbarDemo'//开启工具栏
            ,defaultToolbar:[]
            ,totalRow: true //开启合计行
            ,cols: [[
                {type:'checkbox' }
                ,{field:'productName', title:'商品名称', width:80, totalRowText: '合计'}
                ,{field:'productId',  title: '商品信息' ,templet:function (d){
                        //console.log(d)
                        return "<img src='"+d.pic+"'/><a href='product_details?pid="+d.productId+"' style='font-size: 10px'><p>"+d.descript+"</p></a>"
                    }}
                ,{field:'price', width: 80, title: '单价'}
                ,{field:'productNumber', width: 80, title: '数量',totalRow: true}
                //,{field:'priceCount',title: '金额', width: 80 , totalRow: true}
                ,{title: '操作',toolbar: '#barDemo' }
            ]]
            //,page: true
        });
        //头工具栏事件
        table.on('toolbar(cart)', function(obj){
            let checkStatus = table.checkStatus(obj.config.id);
            let data = checkStatus.data;
            switch(obj.event){
                case 'goIndex':
                    window.location.href ="index";
                    break;
                case 'goShopCart':
                    window.location.href ="shopcart";
                    break;
                case 'getCheckData':
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'delAll':
                    //layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(cart)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除该收藏的商品么', function(index){
                    /*obj.del();
                    layer.close(index);*/
                    $.ajax({
                        url:'/shopCart/delOneCollect?collectId='+data.collectId,
                        method:'get',
                        dataType:'JSON',
                        success:function(res){
                            if(res.code==200){
                                layer.alert(res.msg);
                                window.location.reload();
                            }if(res.code==500){
                                layer.alert(res.msg);
                            }
                        }
                    });
                });
            }
        });
    });
</script>
</body>
</html>