<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="关键字">
		<meta name="description" content="描述">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>非遗文化</title>
		<link rel="stylesheet" type="text/css" href="/css/culture.css" />
		<link rel="stylesheet" type="text/css" href="/css/nav.css" />
	</head>
	<body>
		 <!-- 导航栏nav -->
	    <div id="nav">
	        <ul class="nav_center">
	            <li class="menuDiv"><a href="index">首页</a></li>
	            <li class="menuDiv"><a href="#">我的非遗</a></li>
	            <li class="menuDiv">
	                <a href="#shopping">商品菜单</a>
	                <ul class="menuUL">
	                    <li class="menuLI"><a href="#jz_cszb">中国剪纸和长沙棕编</a></li>
	                    <li class="menuLI"><a href="#yzs_mh">油纸伞和毛猴</a></li>
	                    <li class="menuLI"><a href="#pyx_nrms">皮影戏和泥人面塑</a></li>
	                    <li class="menuLI"><a href="#qhc_jtl">青花瓷和景泰蓝</a></li>
	                    <li class="menuLI"><a href="#rh_cx">绒花和刺绣</a></li>
	                    <li class="menuLI"><a href="#nrms_blh">布老虎和泥人面塑</a></li>
	                    <li class="menuLI"><a href="#dd_byh">蛋雕和鼻烟壶</a></li>
	                    <li class="menuLI"><a href="#zggj_mslp">中国弓箭和马勺脸谱</a></li>
	                    <li class="menuLI"><a href="#zgjz_jtl">中国剪纸和景泰蓝</a></li>
	                    <li class="menuLI"><a href="#mslp_cx">马勺脸谱和刺绣</a></li>
	                </ul>
	            </li>
	            <li class="menuDiv"><a href="#">非遗会员</a></li>
	            <li class="menuDiv"><a href="#">非遗客服</a></li>
	            <li style="background-color:rgb(213,33,13);"><a href="culture">非遗文化</a></li>
	            <li class="menuDiv"><a href="aboutus">关于我们</a></li>
	        </ul>
	    </div>

		<div class="content-1">
			<div class="main-panel">

				<div class="left-image">
					<img width="100%" height="100%" src="/img/nav_6/pyx.png">
				</div>

				<div class="desc">

					<div style="font-size: 25px;font-weight: bold;padding-bottom: 20px;">
						皮影戏
					</div>
					<div style="line-height: 32px;color: #565872;font-size: 15px;">
						皮影戏(Shadow Puppets)，又称“影子戏”或“灯影戏”，是一种以兽皮或纸板做成的人物剪影以表演故事的民间戏剧。表演时，艺人们在白色幕布后面，一边操纵影人，一边用当地流行的曲调讲述故事，同时配以打击乐器和弦乐，有浓厚的乡土气息。其流行范围极为广泛，并因各地所演的声腔不同而形成多种多样的皮影戏。 皮影戏是中国民间古老的传统艺术，老北京人都叫它“驴皮影”。据史书记载，皮影戏始于西汉，兴于唐朝，盛于清代，元代时期传至西亚和欧洲，可谓历史悠久，源远流长。 [1]  2011年，中国皮影戏入选人类非物质文化遗产代表作名录。 [2] 2018年12月，教育部办公厅关于公布上海戏剧学院为皮影戏中华优秀传统文化传承基地
					</div>
					<div style="font-size: 20px;color: #1db954 ;padding-top: 40px;cursor: pointer;text-align: right;">
						查看更多 →
					</div>

				</div>

			</div>

		</div>

		<div class="content-2">

			<div class="main-panel">
				<div class="title" style="padding: 80px 0;font-size: 30px;font-weight: bold;text-align: center;">
					非遗文化
				</div>

				<div class="brbr">

					<div class="card">

						<div class="info">
							<div class="title">
								青花瓷
							</div>
							<div class="line"></div>
							<div class="desc">
								青花瓷（blue and white porcelain），又称白地青花瓷，常简称青花，是中国瓷器的主流品种之一，属釉下彩瓷。青花瓷是用含氧化钴的钴矿为原料，在陶瓷坯体上描绘纹饰，再罩上一层透明釉，经高温还原焰一次烧成。钴料烧成后呈蓝色，具有着色力强、发色鲜艳、烧成率高、呈色稳定的特点。原始青花瓷于唐宋已见端倪，成熟的青花瓷则出现在元代景德镇的湖田窑。明代青花成为瓷器的主流。明宣德时发展到了顶峰。明清时期，还创烧了青花五彩、孔雀绿釉青花、豆青釉青花、青花红彩、黄地青花、哥釉青花等衍生品种。
							</div>
							<div class="see-more">
								<!-- 查看更多 → -->
							</div>
						</div>

						<div class="image">
							<img width="100%" height="100%" src="/img/nav_6/qhc.png" />
						</div>

					</div>

					<div class="card" style="margin-right: 0;">

						<div class="image">
							<img width="100%" height="100%" src="/img/nav_6/lnr.png" />
						</div>

						<div class="info">
							<div class="title" style="padding-top: 20px;">
								捏面人
							</div>
							<div class="line" style="top: 60px;"></div>
							<div class="desc">
								捏面人也称面塑是一种制作简单但艺术性很高的传统民间工艺品。中国的面塑艺术早在汉代就已有文字记载。它用面粉、糯米粉为主要原料,再加上色彩,石蜡、蜂蜜等成分,经过防裂防霉的处理,制成柔软的各色面团。 捏面艺人根据所需随手取材,在手中几经捏、搓、揉、掀,用小竹刀灵巧地点、切、刻、划，塑成身、手、头面,披上发饰和衣裳,顷刻之间，栩栩如生的艺术形象便脱手而成。
							</div>
							<div class="see-more">
								<!-- 查看更多 → -->
							</div>
						</div>

					</div>

				</div>

				<div class="brbr">

					<div class="card">

						<div class="info">
							<div class="title">
								景泰蓝
							</div>
							<div class="line"></div>
							<div class="desc">
								景泰蓝（Cloisonne），中国的著名特种金属工艺品类之一，到明代景泰年间这种工艺技术制作达到了最巅峰，制作出的工艺品最为精美而著名，故后人称这种金属器为“景泰蓝”。景泰蓝正名“铜胎掐丝珐琅”，俗名“珐蓝”，又称“嵌珐琅”，是一种在铜质的胎型上，用柔软的扁铜丝，掐成各种花纹焊上，然后把珐琅质的色釉填充在花纹内烧制而成的器物 。因其在明朝景泰年间盛行，制作技艺比较成熟，使用的珐琅釉多以蓝色为主，故而得名“景泰蓝”。
							</div>
							<div class="see-more">
								<!-- 查看更多 → -->
							</div>
						</div>

						<div class="image">
							<img width="100%" height="100%" src="/img/nav_6/jtl.png" />
						</div>

					</div>

					<div class="card" style="margin-right: 0;">

						<div class="image">
							<img width="100%" height="100%" src="/img/nav_6/mslp.png" />
						</div>

						<div class="info">
							<div class="title" style="padding-top: 20px;">
								马勺脸谱
							</div>
							<div class="line" style="top: 60px;"></div>
							<div class="desc">
								马勺脸谱是陕西传统特色手工艺品，属于宝鸡社火脸谱的一种，在陕西民间，至今春节仍有耍社火的习俗。凤翔民间社火马勺脸谱简称马勺脸谱，是在继承西府民间社火脸谱的基础上发展的一种新兴的民间手工艺术品。由中国民间社火脸谱演化而来。当地民众将神话故事中的人物形象彩绘于马勺之上而因此得名。马勺采用树材，制作简便，历代农家乡民必备。彩绘简繁皆宜，人们将其悬挂厅堂居室用于扶正祛邪，镇妖降怪，表达祈福纳祥、招财进宝的美好愿望，因而马勺脸深得人们喜爱和崇尚。 经现代民间艺术工作者的继承和发展，马勺脸谱是传统民间艺术中的珍品。
							</div>
							<div class="see-more">
								<!-- 查看更多 → -->
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>

		<div style="margin-bottom: 40px;">
			&nbsp;
		</div>
		<hr width="80%">
		<!-- 底部foot -->
		<div id="foot" style="text-align: center;">
			<p> Copyright &copy; 2021-2032 版权所有:守艺网 <br/> 请所有作者发布作品时务必遵守国家互联网信息管理办法规定 <br> 联系方式 1008611 地址：江西科技学院 信息工程学院</p>
		</div>

	</body>

</html>