<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品信息页面</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/payfor_success.css" />
</head>
<body>
<!-- 导航栏nav -->
<div id="nav">
    <ul class="nav_center">
        <li class="menuDiv"><a href="index">首页</a></li>
        <li class="menuDiv"><a href="#">我的非遗</a></li>
        <li class="menuDiv">
            <a href="#shopping">商品菜单</a>
            <ul class="menuUL">
                <li class="menuLI"><a href="#jz_cszb">中国剪纸和长沙棕编</a></li>
                <li class="menuLI"><a href="#yzs_mh">油纸伞和毛猴</a></li>
                <li class="menuLI"><a href="#pyx_nrms">皮影戏和泥人面塑</a></li>
                <li class="menuLI"><a href="#qhc_jtl">青花瓷和景泰蓝</a></li>
                <li class="menuLI"><a href="#rh_cx">绒花和刺绣</a></li>
                <li class="menuLI"><a href="#nrms_blh">布老虎和泥人面塑</a></li>
                <li class="menuLI"><a href="#dd_byh">蛋雕和鼻烟壶</a></li>
                <li class="menuLI"><a href="#zggj_mslp">中国弓箭和马勺脸谱</a></li>
                <li class="menuLI"><a href="#zgjz_jtl">中国剪纸和景泰蓝</a></li>
                <li class="menuLI"><a href="#mslp_cx">马勺脸谱和刺绣</a></li>
            </ul>
        </li>
        <li class="menuDiv"><a href="#">非遗会员</a></li>
        <li class="menuDiv"><a href="#">非遗客服</a></li>
        <li style="background-color:rgb(213,33,13);"><a href="culture">非遗文化</a></li>
        <li class="menuDiv"><a href="aboutus">关于我们</a></li>
    </ul>
</div>
<!--*******-->
<!--当前位置-->
<!--*******-->
<div id="payforsuccess">
    <div class="local">
<!--  返回首页的超链接需要修改！！！！！！      -->
        <a href="#">首页面</a>
    </div>
</div>
<!--*******-->
<!--支付成功页面-->
<!--*******-->
<div id="payfordetails">
    <form action="" method="post">
        <table>
            <tr style="font-weight: bold">
                <td colspan="2">商品信息</td>
                <td>单价</td>
                <td>数量</td>
                <td>金额</td>
                <td>配送方式</td>
            </tr>
            <tr>
            <td colspan="2"><img src="../../static/img/min/景泰蓝_min1.png" height="180px"></td>
            <td>28.00</td>
            <td>3</td>
            <td>84.00</td>
            <td>直升机</td>
            </tr>
            <tr>
                <td colspan="2"><img src="../../static/img/min/景泰蓝_min2.png" height="180px"></td>
                <td>28.00</td>
                <td>3</td>
                <td>84.00</td>
                <td>哈利波特派送</td>
            </tr>
            <tr>
                <td colspan="2"><img src="../../static/img/min/景泰蓝_min3.png" height="180px"></td>
                <td>28.00</td>
                <td>3</td>
                <td>84.00</td>
                <td>传送门</td>
            </tr>
            <tr>
                <td colspan="4">
                     买家留言：<input type="text" placeholder="选填，建议填写和卖家达成一致的说明" size="7">
                </td>

                <td colspan="2" >
                    优惠券:
                    <select>
                        <option selected="selected">全场9.58折</option>
                        <option>￥3【无使用门槛】</option>
                        <option>全场9.98折</option>
                    </select><br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;红包:
                    <select>
                        <option selected="selected">￥100.00</option>
                        <option>￥1200.00】</option>
                        <option>￥800.00</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="result">
            <p>
               <strong> 实付款：</strong><span>￥141.40</span><br>
               <strong> 寄送至：</strong> 江西省 南昌市 南昌县 紫阳大道115号（江西科技学院）<br>
               <strong> 收货人：</strong> 陈帅帅<br>
               <strong> 联系方式：</strong> 8208208820<br>
            </p>
        </div>
        <input type="submit" value="确定付款"  class="input1">
    </form>
</div>




</body>
</html>