<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品信息页面</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/product_details.css" />
</head>
<body>
<!-- 导航栏nav -->
<div id="nav">
    <ul class="nav_center">
        <li class="menuDiv"><a href="index">首页</a></li>
        <li class="menuDiv"><a href="#">我的非遗</a></li>
        <li class="menuDiv">
            <a href="#shopping">商品菜单</a>
            <ul class="menuUL">
                <li class="menuLI"><a href="#jz_cszb">中国剪纸和长沙棕编</a></li>
                <li class="menuLI"><a href="#yzs_mh">油纸伞和毛猴</a></li>
                <li class="menuLI"><a href="#pyx_nrms">皮影戏和泥人面塑</a></li>
                <li class="menuLI"><a href="#qhc_jtl">青花瓷和景泰蓝</a></li>
                <li class="menuLI"><a href="#rh_cx">绒花和刺绣</a></li>
                <li class="menuLI"><a href="#nrms_blh">布老虎和泥人面塑</a></li>
                <li class="menuLI"><a href="#dd_byh">蛋雕和鼻烟壶</a></li>
                <li class="menuLI"><a href="#zggj_mslp">中国弓箭和马勺脸谱</a></li>
                <li class="menuLI"><a href="#zgjz_jtl">中国剪纸和景泰蓝</a></li>
                <li class="menuLI"><a href="#mslp_cx">马勺脸谱和刺绣</a></li>
            </ul>
        </li>
        <li class="menuDiv"><a href="#">非遗会员</a></li>
        <li class="menuDiv"><a href="#">非遗客服</a></li>
        <li style="background-color:rgb(213,33,13);"><a href="culture">非遗文化</a></li>
        <li class="menuDiv"><a href="aboutus">关于我们</a></li>
    </ul>
</div>
<!--*******-->
<!--当前位置-->
<!--*******-->
<div id="product_details">
    <div class="local">
<!--  返回首页的超链接需要修改！！！！！！      -->
        <a href="#">首页面</a>
    </div>
</div>
<!--*******-->
<!--商品页面-->
<!--*******-->
<div class="goods">
    <div class="goods_left">
        <img src="../../static/img/min/鼻烟壶_min1.png" width="100%" height="100%">
    </div>
    <div class="goods_right">
        <h1>非遗商品名称</h1>
        <span style="color: red;font-size: 32px;">￥998.00</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration: line-through">￥10000.05</span>
        <p>
            中国鼻烟壶，作为精美的工艺品，采用瓷、铜、象牙、玉石、玛瑙、琥珀等材质，
            运用青花、五彩、雕瓷、套料、巧作、内画等技法，
            汲取了域内外多种工艺的优点，被雅好者视为珍贵文玩，在海内外皆享有盛誉。
        </p>
        <hr/>
        <a href="#"><div class="intoShopCar">加入购物车</div></a>
        <a href="#"><div class="buyNow">直接购买</div></a>
    </div>
</div>
<!--*******-->
<!--商品大类文化详细介绍-->
<!--*******-->
<div id="goods_cultural">
    <p>在世界上，中国素有「烟壶之乡」的称誉，其中鼻烟壶以其精巧卓绝的制作技术，
        被称为「集多种工艺之大成于一身的袖珍艺术品」。鼻烟壶为盛装鼻烟之容器，
        鼻烟系一种烟草制品，原为西洋之物，
        明末清初自欧洲传入中国后，加工转化后成为粉末状药材，
        吸闻之后不但具有明目避疫的功效，吸闻鼻烟在各阶层更是蔚为风尚，
        且迅速地融入了中国的艺术风格，发展出匠心独运的各式鼻烟壶，
        在清代美学工艺上大放异彩，成为清代艺术的重要标志之一。</p>
</div>



</body>
</html>