<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
            font-size:14px;
            padding:0 5px;
            height:auto;
            overflow:visible;
            text-overflow:inherit;
            white-space:normal;
            word-break: break-all;
        }
    </style>

</head>
<body>

<!--购物车-->
<table id="cart" class="layui-table" lay-filter="cart" lay-skin="nob">

</table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="goIndex">返回首页</button>
        <button class="layui-btn" lay-event="myCollect">我的收藏</button>
        <!--<button class="layui-btn" lay-event="getCheckData">结算</button>
        <button class="layui-btn" lay-event="delAll">删除</button>-->
        <!--<button class="layui-btn" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn" lay-event="isAll">验证是否全选</button>-->
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn"  lay-event="addCollect">添加到收藏</a>
    <a class="layui-btn layui-btn-warm"  lay-event="balance">结算</a>
    <a class="layui-btn layui-btn-danger"  lay-event="del">删除</a>
</script>

<script src="/layui/layui.js"></script>
<script th:inline="none">
    layui.use('table', function(){
        var table = layui.table
        ,$ = layui.$;
        table.render({
            elem: '#cart'
            //,height: 500  //表格高度
            ,url:'/shopCart/list'
            ,toolbar: '#toolbarDemo'//开启工具栏
            ,defaultToolbar:[]
            ,totalRow: true //开启合计行
            ,cols: [[
                {type:'checkbox' }
                ,{field:'productName', title:'商品名称', width:80, totalRowText: '合计'}
                ,{field:'productId',  title: '商品信息' ,templet:function (d){
                        //console.log(d)
                        return "<img src='"+d.pic+"'/><a href='product_details?pid="+d.productId+"' style='font-size: 10px'><p>"+d.descript+"</p></a>"
                    }}
                ,{field:'price', width: 80, title: '单价'}
                ,{field:'productAmount', width: 80, title: '数量',totalRow: true}
                ,{field:'priceCount',title: '金额', width: 80 , totalRow: true}
                ,{title: '操作',toolbar: '#barDemo' }
            ]]
            //,page: true
        });
        //头工具栏事件
        table.on('toolbar(cart)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            let data = checkStatus.data;
            switch(obj.event){
                case 'goIndex':
                    window.location.href ="index";
                    break;
                case 'getCheckData':

                    layer.alert(JSON.stringify(data));
                    break;
                case 'myCollect':
                    window.location.href ="collect";
                    break;
                case 'delAll':
                    layer.confirm('真的要删除选中的商品么', function(index){
                        let cart=JSON.stringify(data);
                        // cartIds=cart.cartId;
                        //console.log(cart)

                        //console.log(JSON.stringify(data))
                    })
                    //layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(cart)', function(obj){
            var data = obj.data;
            //console.log(data)
            if(obj.event === 'del'){
                layer.confirm('真的删除该商品么', function(index){
                    $.ajax({
                        url:'/shopCart/delOneShopCart?cartId='+data.cartId,
                        method:'get',
                        dataType:'JSON',
                        success:function(res){
                            if(res.code==200){
                                /*obj.del();
                                layer.close(index);*/
                                layer.alert(res.msg);
                                window.location.reload();
                            }if(res.code==500){
                                layer.alert(res.msg);
                            }
                        }
                    });

                });
            }if(obj.event === 'balance'){
                //结算
                window.location.href ="payforsuccess";
            } else if(obj.event === 'addCollect'){
                //添加收藏
                layer.confirm('是否添加到收藏', function(index) {
                    $.ajax({
                        url: '/shopCart/addOneCollect?cartId=' + data.cartId,
                        method: 'get',
                        dataType: 'JSON',
                        success: function (res) {
                            if (res.code == 200) {
                                layer.alert(res.msg);
                                //window.location.href = "collect";
                            }
                            if (res.code == 500) {
                                layer.alert(res.msg);
                            }
                        }
                    });
                })
                //window.location.href ="collect";
            }
        });
    });
</script>
</body>
</html>