<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
</head>
<body>
    <!--标题-->
    <div><h2>个人资料</h2></div>
    <!--  头像  -->
    <div>
        <div><img src="img/img.png"></div>
        <div>用户名：小叮叮</div>
    </div>

    <!--  个人信息  -->
    <div>
        <table>
            <tr>
                <td>姓名：</td>
                <td>叮叮</td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>男</td>
            </tr>
            <tr>
                <td>生日：</td>
                <td><input type="date" id="txtdate" value="2000-10-24"></td>
            </tr>
            <tr>
                <td>电话：</td>
                <td>1008611</td>
            </tr>
            <tr>
                <td>Email：</td>
                <td>1008611@qq.com</td>
            </tr>

        </table>

    </div>
</body>
</html>