<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIP</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/VIP.css">

</head>
<body>
<div class="box">
    <h2>升级VIP账号</h2>
    <div class="choice">
        <div class="permanent left clear current">
            <div class="money left">
                <p class="money_much">
                    <i class="layui-icon layui-icon-diamond" style="font-size: 30px; color: #1E9FFF;"></i>
                    <span class="price">9.8</span>
                    元/月
                </p>
            </div>
            <div class="time right">
                <p class="two">每月10个红包</p>
            </div>
        </div>
        <div class="permanent left clear ">
            <div class="money left">
                <p class="money_much">
                    <i class="layui-icon layui-icon-diamond" style="font-size: 30px; color: #1E9FFF;"></i>
                    <span class="price">19.6</span>
                    元/月
                </p>
            </div>
            <div class="time right">
                <p class="two">商品打93折</p>
            </div>
        </div>

        <div class="permanent left clear">
            <div class="money left">
                <p class="money_much">
                    <i class="layui-icon layui-icon-diamond" style="font-size: 30px; color: #1E9FFF;"></i>
                    <span class="price">29.4</span>
                    元/季
                </p>
            </div>
            <div class="time right">
                <p class="two">海量红包和打折</p>
            </div>
        </div>
        <div class="permanent left clear">
            <div class="money left">
                <p class="money_much">
                    <i class="layui-icon layui-icon-diamond" style="font-size: 30px; color: #1E9FFF;"></i>
                    <span class="price">128</span>
                    元/年
                </p>
            </div>
            <div class="time right">
                <p class="two">海量红包和打折</p>
            </div>
        </div>
    </div>
    <p class="pay-num">支付金额<span class="money_num">9.8元</span></p>
    <img src="../../static/img/img_2.png" style="margin-top: 10px"/>
    <hr>
    <button type="button" class="layui-btn layui-btn-warm btn">立即充值</button>
</div>

</body>
</html>